{% extends 'base.html' %}
{% block content %}
<!-- make this section dynamic, and remove teh header -->
<title>{{ cPhase }} Phase!</title>
<!-- this should be the active faction's section-->
<br>
<form class="form-inline" method="POST" action="{{url_for('action_phase')}}">
	<div class="active_grid">
		<div class="activeFactionLabel">Active Faction: </div>
		<div class="activeFaction">{{activeFaction.FactionName}}</div>
		<div class="activeButton1"><button type="submit" name="action" value="end" class="longButton">End</button></div>
		<div class="activeButton2"><button type="submit" name="action" value="pass" class="longButton">Pass</button></div>
		<div class="undoButton"><button type="submit" name="action" value="undo" class="speakerButton">Undo</button></div>
		<div class="faction_list">
			<div> Init</div>
			<div> Faction</div>
			<!--div> Status</div-->
			{% for faction in factions %}
					
					{% if faction.Pass != True %}
						{% if faction.FactionName==activeFaction.FactionName %}
							<div class="activeFactionList">{{ faction.Initiative }} </div>
							<div class="activeFactionList">{{ faction.FactionName }} </div>
							<!--<div class="activeFactionList">ACTIVE</div>-->
						{% elif faction.FactionName==nextFaction.FactionName %}
							<div class="nextFactionList">{{ faction.Initiative }} </div>
							<div class="nextFactionList">{{ faction.FactionName }} </div>
							<!--<div class="nextFactionList">NEXT</div>-->
						{% else %}
							<div class="noPass">{{ faction.Initiative }} </div>
							<div class="noPass">{{ faction.FactionName }} </div>
							<!--div></div-->
						{% endif %}
					{% endif %}
			{% endfor %}
		</div>
		<div class="pass_list">
			<div> Init</div>
			<div> Faction</div>
			<!--div> Status</div-->
			{% for faction in factions %}
					{% if faction.Pass == True %}
						<div class="pass">{{ faction.Initiative }} </div>
						<div class="pass">{{ faction.FactionName }} </div>
						<!--div class="pass">pass</div-->
					{% endif %}
			{% endfor %}
		</div>
	</div>	
</form>
<br><br><br>
<!-- remaining factions section -->

<br><br><br>


{% endblock content %}
