{% extends 'base.html' %}
{% block content %}
<!-- make this section dynamic, and remove teh header -->
<title>{{ cPhase }} Phase!</title>
<!-- this should be the active faction's section-->
<br>
<form class="form-inline" method="POST" action="{{url_for('action_phase')}}">
	<div class="active_grid">
		<div class="activeFactionLabel">Active Faction: </div>
		<div class="activeFaction">{{activeFaction.FactionName}} - ({{activeUser.UserName}})</div>
		<div class="activeButton1"><button type="submit" name="action" value="end" class="longButton">End</button></div>
		<!-- logic dealing with strategy buttons-->
		{% if activeFaction.StrategyStatus1<1 and activeFaction.StrategyStatus2<1 %}
			<div class="activeButton2"><button type="submit" name="action" value="pass" class="longButton">Pass</button></div>
		{% else %}
			{% if activeFaction.StrategyStatus1==1%}
				<div class="strategyButton1"><button type="submit" name="action" value="Strategy1" class="strategyButton">{{activeFaction.StrategyName1}}</button></div>
			{% endif %}
			{% if activeFaction.StrategyStatus2==1%}
				<div class="strategyButton2"><button type="submit" name="action" value="Strategy2" class="strategyButton">{{activeFaction.StrategyName2}}</button></div>
			{% endif %}
		{% endif %}
		<div class="combatCheckBox">
			<label for="combat">Combat<br>
				<input type="checkbox" id="combat" name="combat" value="combat" class="largeCheckBox">
			</label>
		</div>
		<div class="undoButton"><button type="submit" name="action" value="undo" class="longButton">Undo</button></div>
		<div class="faction_list">
			<div> Init</div>
			<div> Faction</div>
			<!--div> Status</div-->
			{% for faction in factions %}
					
					{% if faction.Pass != True %}
						{% if faction.FactionName==activeFaction.FactionName %}
							<div class="activeFactionList">{{ faction.Initiative }} </div>
							<div class="activeFactionList">{{ faction.FactionName }} </div>
							<!--<div class="activeFactionList">ACTIVE</div>-->
						
						{% else %}
							<div class="noPass">{{ faction.Initiative }} </div>
							<div class="noPass">{{ faction.FactionName }} </div>
							<!--div></div-->
						{% endif %}
					{% endif %}
			{% endfor %}
		</div>
		<div class="pass_list">
			<div> Init</div>
			<div> Faction</div>
			<!--div> Status</div-->
			{% for faction in factions %}
					{% if faction.Pass == True %}
						<div class="pass">{{ faction.Initiative }} </div>
						<div class="pass">{{ faction.FactionName }} </div>
						<!--div class="pass">pass</div-->
					{% endif %}
			{% endfor %}
		</div>
	</div>	
</form>
<br><br><br>


{% endblock content %}
