{% extends 'base.html' %}
{% block content %}
<div class="center"><div class="bigBoldText">Speaker Order</div></div>
{% for faction in sFactions %}
	<div class="center">
		{% if faction.Speaker %}
		(S)
		{% endif %}
	{{ faction.FactionName }}</div>
{% endfor %}
<!--
<br>
<div class="timing_list">
<div class="center"><div class="bigBoldText"> Agenda Steps </div></div>
<div>  1. Reveal Agenda </div>
<div>		i. "When an agenda is revealed" </div>
<div>		ii. "After an agenda is revealed" </div>
<div>iii. Before players cast votes</div>
<div>	b. Vote (Clockewise left of speaker) </div>
<div>i. When/After You cast votes </div>
<div>ii. After the speaker votes </div>
<div> 	c. Resolve Outcomes </div>
<div>i. When a player is elected as an outcome</div>
<div>ii. When an outcome is resolved</div>
<div> 2. Repeat for next agenda </div>
<div> 3. Ready Planets</div>
</div>
-->
<form class="form-inline" method="POST" action="{{url_for('agenda_phase')}}">
	<div class="center">
			<button type="submit" name="action" value="END" class="longButton">END Agenda Phase</button>
	</div>
</form>
<br>
{% endblock %}