<!doctype html>
<link href="{{ url_for('static',filename='styles/style.css')}}" rel="stylesheet" />
<title>{{cPhase}} Phase!</title>
<head>
{% if cPhase!="Welcome" %}
	<div class="header_box">
		
		<div><button id="pause" class="topButton" type="button" onclick="window.location.href='{{url_for('game_pause')}}';">PAUSE</button></div>
		
		<div><button id="end" class="topButton" type="button" onclick="window.location.href='{{url_for('end_game')}}';">END GAME</button></div>
		<div><button id="end" class="topButton" type="button" onclick="window.location.href='{{url_for('stop_game')}}';">STOP GAME</button></div>
		<div></div><div class="phaseID">{{ cPhase }} </div>
	</div>
{% elif cPhase=="Welcome" %}
	<div class="welcome_header_box">
		<div><button id="newGame" class="topButton" type="button" onclick="window.location.href='{{url_for('welcome_page')}}';">Home</button></div>
		<div><button id="newGame" class="topButton" type="button" onclick="window.location.href='{{url_for('create_game')}}';">New Game</button></div>
		<div><button id="newPlayer"	class="topButton" type="button" onclick="window.location.href='{{url_for('delete_game')}}';">Delete Game</button></div>
		<div><button id="newPlayer"	class="topButton" type="button" onclick="window.location.href='{{url_for('add_player')}}';">New Player</button></div>
		<div><button id="newPlayer"	class="topButton" type="button" >STATS</button></div>

		<div></div>
	</div>
{% endif %}
</head>

<main>
{% block content %}{% endblock content %}
</main>

<!-- point table section-->
<form class="form-inline" method="POST" action="{{url_for('footer_update')}}">
	<div class="footer_box">
	{% for faction in factions|sort(attribute='TableOrder') %}
		<div class="footer_sections">
			<div class="upper">({{faction.UserName}})</div>
			<div class="pts-time-speaker">
				{% if faction.Speaker %}
					<div class="speaker"> SPEAKER </div>
				{% else %}
					<div class="speakerB"><button type="submit" name="{{faction.FactionName}}" value="speaker" class="speakerButton">Make Speaker</button></div>
				{% endif %}
				<div class="points">{{ faction.Score }}</div>
				{% set hrs=(faction.TotalTime/3600) | int%}
				{% set mins=((faction.TotalTime%3600)/60) | int%}
				{% set secs=((faction.TotalTime%3600)%60) | int%}
				<div class="time">{{hrs}}:{{"%02d"|format(mins)}}:{{"%02d"|format(secs)}}</div>
				<div class="title">{{ faction.FactionName }}</div>
				<div class="button1"><button type="submit" name="{{faction.FactionName}}" value="score" class="bigButton">+1</button></div>
				<div class="button2"><button type="submit" name="{{faction.FactionName}}" value="correct" class="bigButton">-1</button></div>
			</div>
		</div>
	{% endfor %}
	</div>
</form>
