<!doctype html>
<link href="{{ url_for('static',filename='styles/style.css')}}" rel="stylesheet" />
<title>{{cPhase}} Phase!</title>
<head>
{% if cPhase!="Welcome" %}
	<div class="header_box">
		<div><button id="pause" class="topButton" type="button" onclick="window.location.href='{{url_for('game_pause')}}';">PAUSE</button></div>
		<div><button id="combat"	class="topButton" type="button" onclick="window.location.href='{{url_for('game_combat')}}';">COMBAT</button></div>
		<div><button id="end" class="topButton" type="button" onclick="window.location.href='{{url_for('end_game')}}';">END GAME</button></div>
		<div><button id="end" class="topButton" type="button" onclick="window.location.href='{{url_for('stop_game')}}';">STOP GAME</button></div>
		<div></div><div class="phaseID">{{ cPhase }} </div><div class="flavor">{{ flavor }}</div>
	</div>
{% endif %}
</head>

<main>
{% block content %}{% endblock content %}
</main>

<!-- point table section-->
<form class="form-inline" method="POST" action="{{url_for('footer_update')}}">
	<div class="footer_box">
	{% for faction in factions %}
		<div class="pts-time-speaker">
			{% if faction.Speaker %}
				<div class="speaker"> SPEAKER </div>
			{% else %}
				<div class="speakerB"><button type="submit" name="{{faction.FactionName}}" value="speaker" class="speakerButton">Make Speaker</button></div>
			{% endif %}
			<div class="points">{{ faction.Score }}</div>
			<div class="time">{{ faction.TotalTime }}</div>
			<div class="title">{{ faction.FactionName }}</div>
			<div class="button1"><button type="submit" name="{{faction.FactionName}}" value="score" class="bigButton">+1</button></div>
			<div class="button2"><button type="submit" name="{{faction.FactionName}}" value="correct" class="bigButton">-1</button></div>
		</div>
	{% endfor %}
	</div>
</form>
