<!doctype html>
<link href="{{ url_for('static',filename='styles/style.css')}}" rel="stylesheet" />
<head>
	<div class="title_box">
	<!--<p style="test-align: left;">
		<button id="pause" type="button" onclick="window.location.href='{{url_for('game_pause')}}';" class="buttonPause">PAUSE</button>
		<span style="float:right;">
			<button id="end" type="button" onclick="window.location.href='{{url_for('end_game')}}';">END GAME</button>
		</span>
	</p>-->
	<div class="pause">
	<button id="pause" class="buttonPause" type="button" onclick="window.location.href='{{url_for('game_pause')}}';">PAUSE</button>
	</div>
	<div class="end">
	<button id="end" class="buttonEnd" type="button" onclick="window.location.href='{{url_for('end_game')}}';">END GAME</button>
	</div>
	</div>

</head>

<main>
{% block content %}{% endblock content %}
</main>
