{% extends 'base.html' %}
{% block content %}
<title>End Game</title>
<div class="end_game">
<div class="bigBoldText">Faction</div><div class="center"><div class="bigBoldText">Score</div></div><div class="bigBoldText">Time</div>
{% for faction in factions %}
	<div > {{ faction.FactionName }}</div><div class="center">{{ faction.Score }}</div><div>{{faction.TotalTime}}</div>

{% endfor %}
</div>
<br>
<form class="form-inline" method="POST" action="{{url_for('end_game')}}">	
	<div class="center">Select Winner: </div> 
	<div class="center">
			<select class="wideButton" name= "winner" >
				{% for faction in factions %}
					<option  value= "{{faction.FactionName}}" SELECTED>{{faction.FactionName}}</option>"
				{% endfor %}
			</select>
	</div>
	<div class="center">
		<button class="speakerButton" id="pause" type="button" onclick="window.location.href='{{url_for('phase_selector')}}';" class="btn btn-default">Go Back</button>
		<button class="speakerButton" type="submit" class="btn btn-default">CONFIRM!</button>
	</div>
</form>
<br>
{% endblock content %}