{% extends 'base.html' %}
{% block content %}
<title>{{phase}} Phase!</title>

<div class="status_phase">
<div>1. </div><div>Score Objectives </div>
<div>2. </div><div>Reveal Public Objectives </div>
<div>3. </div><div>Draw Action Cards </div>
<div>4. </div><div>Remove Command Tokens </div>
<div>5. </div><div>Gain/Redis Command Tokens </div>
<div>6. </div><div>Ready Cards </div>
<div>7. </div><div>Repair Units </div>
<div>8. </div><div>Return Strategy Cards </div>
</div>

<br>
<form class="form-inline" method="POST" action="{{url_for('status_phase')}}">
	<div class="center">
			<button type="submit" name="action" value="END" class="longButton">END Status Phase</button>
	</div>
</form>

<br>
{% endblock %}

