{% extends 'base.html' %}
{% block content %}
<form class="form-inline" method="POST" action="{{url_for('strategic_action')}}">
<div class="form-group">
{% for faction in sFactions %}
	<div class="strategic_action">
			
			{% if faction.FactionName==stratFaction.FactionName %}
				<div class="fName">{{ faction.FactionName }}</div> 
				<button type="submit" name="done" value="{{faction.FactionName}}" class="speakerButton">Done</button>
			{% else %}
				<div class="pName">{{ faction.FactionName }}</div> 
			{% endif %}
    </div>
{% endfor %}

</div>
</form>
<br><br>
{% endblock %}