{% extends 'base.html' %}
{% block content %}
<title>Strategy Phase!</title>
<h1> Strategy Phase </h1>
<form class="form-inline" method="POST" action="{{url_for('strategy_phase')}}">
<div class="form-group">
{% for faction in factions %}
	<div class="input-group">
		<span class="input-group-addon">{{ faction.FactionName }}</span> 
		<select name= "{{faction.FactionName}}" >
			{% for initiative in initiatives %}
				<option value= "{{initiative}}" SELECTED>{{initiative}}</option>"
			{% endfor %}
		</select>
    </div>
{% endfor %}
<button type="submit" class="btn btn-default">SUBMIT</button>
</div>
</form>
{% endblock %}