{% extends 'base.html' %}
{% block content %}
<form class="form-inline" method="POST" action="{{url_for('strategy_phase')}}">
<div class="form-group">
{% for faction in sFactions %}
	<div class="strategy_box">
		
		<select name= "{{faction.FactionName}}" class="bigButton">
			{% for initiative in initiatives %}
				<option value= "{{initiative}}" SELECTED>{{initiative}}</option>"
			{% endfor %}
		</select>
		<div class="fName">{{ faction.FactionName }}</div> 
    </div>
{% endfor %}
<div class="center">
<button type="submit" class="longButton">SUBMIT</button>
</div>
</div>
</form>
<br><br>
{% endblock %}