{% extends 'base.html' %}
{% block content %}

<form class="form-inline" method="POST" action="{{url_for('welcome_page')}}">
	<div class="welcome_page">
		<div></div>
		<div>ID</div>
		<div>Date</div>
		<div>Winner</div>
		<div>Phase</div>

		{% for game in games %}
			<div><button type="submit" name="gameSelect" value='{{game.GameID}}' class="speakerButton">Select</button></div>
			<div class="game"> {{ game.GameID }} </div>
			<div class="game"> {{ game.GameDate }} </div>
			<div class="game"> {{ game.GameWinner }} </div>
			<div class="game"> {{ game.GamePhase }} </div>
			
		{% endfor %}
	</div>
</form>
<div class="double_button">
{% endblock content %}