/*
items used for the page header section
*/
/*text fonts*/
.bigBoldText{
	font-weight: bold;
	font-size: 20px;
	
}
	
/*button sizes*/
.topButton{
	width:100px;
	height:100px;
}

.bigButton{
	height:50px;
	width:50px;
}

.speakerButton{
	height:50px;
	width:100px;
}

.longButton{
	height: 50px;
	width: 150px;
}

.wideButton{
	height: 50px;
	width: 208px;
}
/*misc flex*/
.center{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: stretch;
	gap:8px;
}

.end_game{
	display: grid;
	grid-template-columns: 180px 100px 100px;
	grid-auto-rows: 20px;
	justify-content: center;
}
.end_game div{
	justify-self: start;
	align-self: center;
}

/*Combat section*/
.combat{
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:20px 50px 20px 20px 20px;
	justify-items: center;
}


/*basic centered timing list timings*/
.timing_list{
	display: grid;
	grid-template-columns: 300px;
	grid-auto-rows: 20px;
	justify-content: space-around;
}

/*Setup page*/
.setup_page{
	display: grid;
	grid-template-columns: 100px;
	grid-auto-rows: 100px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

/*create_game*/
.create_game_page{
	display: grid;
	grid-template-columns: 50px 208px 208px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

/*add_payer*/
.add_player_page{
	display: grid;
	grid-template-columns: 300px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
/*welcome page*/
.welcome_page{
	display: grid;
	grid-template-columns: 100px 50px 100px 100px 150px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
/*delete page*/
.delete_page{
	display: grid;
	grid-template-columns: 100px 50px 100px 100px 150px 50px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
/*double button*/
.double_button{
	display: grid;
	grid-template-columns: 208px 208px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
/*header area*/
.welcome_header_box{
	display: grid;
	width:100%;
	grid-template-columns: 100px 100px 100px 100px 100px;
	grid-template-rows: 100px 50px;
	align-items :center;
	justify-content: center;
	gap:10px;
	
}

.header_box{
	display: grid;
	width:100%;
	grid-template-columns: 100px 100px 100px 100px;
	grid-template-rows: 100px 50px;
	align-items :center;
	justify-content: center;
	gap:10px;
	
}

.header_box div{
	justify-self: center;
}
.header_box .phaseID{
	font: 25px Arial bold;
	min-width: 0;
	overflow: hidden;
	justify-self: end;
}
.header_box .flavor{
	font: 25px Arial bold;
	min-width: 0;
	overflow: hidden;
	justify-self: start;
}

/*Stragtegy phase section*/
.strategy_box{
	display: flex; 		
	align-items: center;
	justify-items: start;
	justify-content: center;
	gap:8px;
}

.strategy_box .bigButton{
	width: 50px;
}

.strategy_box .fName{
	width: 300px;
}

/*status phase section*/
.status_phase {
	display: grid;
	width: 100%;
	grid-template-columns: 50px 250px;
	grid-template-rows: 30px;
	justify-content: center;
	align-items: center;	
}
.status_phase div{
	font: 18px  Arial bold;
}

/*box used for alignment of winner screen*/
.win_box{
	display: flex;
	width:100%;
	flex-direction:row;
	align-items :center;
	justify-items: center;
}

.win_box div{
	width:33%;
}
.win_box .game div{
	width:33%;
}

/*faction list*/
.active_grid .faction_list{
	grid-area:x;
	display:grid;
	grid-template-columns: 50px 200px;/* 50px;*/
	grid-template-rows:25 px;
	justify-content: center;
	justify-items: start;
	align-items: start;
}

.active_grid .pass_list{
	grid-area:y;
	display:grid;
	grid-template-columns: 50px 200px;/* 50px;*/
	grid-template-rows:25 px;
	justify-content: center;
	justify-items: end;
	align-items: end;
}

.pass{
	color: silver;
}

.activeFactionList{
	background: chartreuse;
	color: black;
}

.nextFactionList{
	background: aquamarine;
}


/* this section is for displaying the active faction and the next faction*/
.active_grid{
	display:grid;
	grid-auto-columns: 200px;
	grid-auto-rows:minmax(25px,auto);
	justify-content: center;
	justify-items: start;
	align-items: start;
	gap: 10px;
	grid-template-areas:
	"a a"
	"b b"
	"c f"
	"x y"
	"e e";
}

.active_grid .activeFactionLabel{
	
	grid-area:a;
	
	font: 18px Arial bold;
	justify-self: center;
}
.active_grid .undoButton{
	
	grid-area:e;
	
	justify-self: center;
}

.active_grid .activeFaction{
	
	grid-area:b;
	font: 25px  Arial bold;
	justify-self: center;
}

.active_grid .activeButton1{
	
	grid-area:c;
	justify-self: start;
}

.active_grid .activeButton2{
	
	grid-area:f;
	justify-self: end;
}

/*bottom area*/
.footer_box{
	/*shoudl change this to flex*/
	display:flex;
	width: 100%;
	justify-content: center;
	gap: 10px;
}

/*.footer_box{
	display:grid;
	grid-template-columns: repeat(6,108px);
	
	grid-gap: 8px;
}*/

/*
.footer_box div{
	width: 50px;
	background-color: grey;
	color:white;

	
}
*/
/*WHY ARE WE JUMPING TO ACTION WHEN IT SHOULD BE STRAT*/


/*bottom area individual selection box*/
.pts-time-speaker{
	display:grid;
	grid-auto-columns: 50px 50px;
	grid-auto-rows:minmax(25px,auto);
	justify-items: center;
	align-items: center;
	justify-content: center;
	background-color: grey;
	color:white;
	grid-template-areas:
	"a a"
	"a a"
	"b b"
	"f f"
	"c c"
	"c c"
	"d e";
}


.pts-time-speaker .speaker{
	align-self:center;
	justify-self:center;
	grid-area:a;
}
.pts-time-speaker .speakerB{
	grid-area:a;
}
.pts-time-speaker .points{
	grid-area:b;
	align-self:center;
	justify-self:center;
}

.pts-time-speaker .time{
	grid-area:f;
	align-self:center;
	justify-self:center;
}

.pts-time-speaker .title{
	grid-area:c;
	align-self: center;
	justify-self: center;

}
.pts-time-speaker .button1{
	grid-area:d;
	align-self: end;
}
.pts-time-speaker .button2{
	grid-area:e;
	align-self:end;
}
