/*
items used for the page header section
*/
/*text fonts*/

:root {
    --text-color: #E0E0E0;
    --background-color: #1a1a1a;
    --accent-color: #888888;
	--inlay-color: #444444;
	--secondary-text: #888888;
	--highlight-color: #3e5641;
	--checked-color: #004d61;
  }

button {
  background-color: var(--accent-color);
  color: var(--text-color);
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

.bigBoldText{
	font-weight: bold;
	font-size: 20px;
	
}
	
/*button sizes*/
.topButton{
	width:100px;
	height:100px;
}

.strategyButton{
	width:150px;
	height:75px;
	font-size: 1.5em;
}

select {
	background-color: var(--accent-color);
  	color: var(--text-color);
}

.bigButton{
	height:50px;
	width:50px;
}

.speakerButton{
	height:50px;
	width:100px;
}

.longButton{
	height: 75px;
	width: 150px;
	font-size: 2em;
}

.wideButton{
	height: 50px;
	width: 208px;
}

.largeCheckBox{
	zoom:2;
}
/*misc flex*/
.center{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: stretch;
	gap:8px;
}

.end_game{
	display: grid;
	grid-template-columns: 180px 100px 100px;
	grid-auto-rows: 20px;
	justify-content: center;
}
.end_game div{
	justify-self: start;
	align-self: center;
}

/*Combat section*/
.combat{
	display: grid;
	grid-template-columns:1fr 1fr;
	grid-template-rows:20px 50px 20px 20px 20px;
	justify-items: center;
}


/*basic centered timing list timings*/
.timing_list{
	display: grid;
	grid-template-columns: 300px;
	grid-auto-rows: 20px;
	justify-content: space-around;
}

/*Setup page*/
.setup_page{
	display: grid;
	grid-template-columns: 100px;
	grid-auto-rows: 100px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

/* STrategic action*/
.strategic_action{
	display: grid;
	grid-template-columns:208px 208px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	gap: 10px;
}

.strategic_action .fName{
	justify-self: end;
}

.strategic_action .pName{
	justify-self: end;
	color: var(--secondary-text);
}

.strategic_action .speakerButton{
	justify-self: start;
}

.strategic_action .undoButton{
	justify-self: end;
}

/*create_game*/
.create_game_page{
	display: grid;
	grid-template-columns: 50px 208px 208px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

/*add_payer*/
.add_player_page{
	display: grid;
	grid-template-columns: 300px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
/*welcome page*/
.welcome_page{
	display: grid;
	grid-template-columns: 100px 50px 100px 100px 150px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
/*delete page*/
.delete_page{
	display: grid;
	grid-template-columns: 100px 50px 100px 100px 150px 50px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
/*double button*/
.double_button{
	display: grid;
	grid-template-columns: 208px 208px;
	grid-auto-rows: 50px;
	justify-content: center;
	justify-items: center;
	align-items: center;
}
/*header area*/
.welcome_header_box{
	display: grid;
	width:100%;
	grid-template-columns: 100px 100px 100px 100px 100px;
	grid-template-rows: 100px 50px;
	align-items :center;
	justify-content: center;
	gap:10px;
	
}

.header_box{
	display: grid;
	width:100%;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: 100px 50px;
	align-items :center;
	justify-content: center;
	gap:10px;
	
}

.header_box div{
	justify-self: center;
}
.header_box .phaseID{
	font: 25px Arial bold;
	min-width: 0;
	overflow: hidden;
	justify-self: center;
}
.header_box .flavor{
	font: 25px Arial bold;
	min-width: 0;
	overflow: hidden;
	justify-self: start;
}

/*Stragtegy phase section*/
.strategy_box{
	display: flex;
	width:100%;
	
	align-items: center;
	justify-items: start;
	justify-content: center;
	line-height: 80px;
	gap:8px;
}

.strategy_box .bigButton{
	width: 100px;
	height: 75px;
	text-align: center;
	font-size: 2em;
}

.strategy_box .bigButtonLabel{
	width: 100px;
	text-align: center;
}

.strategy_box .fName{
	width: 300px;
}

.strategy_box .fNameLabel{
	width: 300px;
	text-align: start;
}

.strategy_box .naaluRadio{
	width: 100px;
	text-align: center;
}

.strategy_box .naaluRadioLabel{
	width: 100px;
	text-align: center;
}


input[type="radio"]{
	appearance:none;
	width: 30px;
	height: 30px;
	border: 0.1rem solid var(--text-color);
    border-radius: 50%;
	background-color: var(--accent-color);
}
input[type="radio"]:checked{

	background-color: var(--checked-color);
}



input[type="checkbox"]{
	appearance:none;
	width: 30px;
	height: 30px;
	border: 0.1rem solid var(--text-color);
    
	background-color: var(--accent-color);
}
input[type="checkbox"]:checked{

	background-color: var(--checked-color);
}

/*status phase section*/
.status_phase {
	display: grid;
	width: 100%;
	grid-template-columns: 50px 250px;
	grid-template-rows: 30px;
	justify-content: center;
	align-items: center;	
}
.status_phase div{
	font: 18px  Arial bold;
}

/*box used for alignment of winner screen*/
.win_box{
	display: flex;
	width:100%;
	flex-direction:row;
	align-items :center;
	justify-items: center;
}

.win_box div{
	width:33%;
}
.win_box .game div{
	width:33%;
}



.pass{
	color: var(--secondary-text);
}

.activeFactionList{
	background: var(--highlight-color);
	/*color: black;*/
}


/* this section is for displaying the active faction and the next faction*/
.active_grid{
	display:grid;
	grid-auto-columns: minmax(100px,auto);
	grid-auto-rows:minmax(25px,auto);
	justify-content: center;

	/*align-items: start;*/
	gap: 10px;
	grid-template-areas:
	"a a a a"
	"b b b b"
	"c c f g"
	"x x y y"
	"z z z z"
	"z z z z"
	"e e e e";
}

/*faction list*/
.active_grid .faction_list{
	grid-area:x;
	display:grid;
	grid-template-columns: 50px 200px;/* 50px;*/
	grid-template-rows:25 px;
	justify-content: center;
	justify-items: start;
	align-items: start;
}

.active_grid .pass_list{
	grid-area:y;
	display:grid;
	grid-template-columns: 50px 200px;/* 50px;*/
	grid-template-rows:25 px;
	justify-content: center;
	justify-items: end;
}
.active_grid .activeFactionLabel{
	
	grid-area:a;
	
	font: 18px Arial bold;
	justify-self: center;
}
.active_grid .undoButton{
	
	grid-area:e;
	
	justify-self: start;
}

.active_grid .activeFaction{
	
	grid-area:b;
	font: 25px  Arial bold;
	justify-self: center;
}

.active_grid .activeButton1{
	
	grid-area:c;
	justify-self: start;
}

.active_grid .combatCheckBox{
	
	grid-area:z;
	justify-self: center;
	align-items:center;
	gap:10px;
}

.active_grid label{
	display: block;
	gap:10px;
	justify-self: center;
	align-items:center;
	text-align: center;
	text-justify: center;
	font-size: 1.5em;
}

.active_grid .activeButton2{
	
	grid-area:g;
	justify-self: end;
}

.active_grid .stratButton1{
	
	grid-area:f;
	justify-self: end;
}

.active_grid .stratButton2{
	
	grid-area:g;
	justify-self: end;
}

/*bottom area*/
.footer_box{
	/*shoudl change this to flex*/
	display:flex;
	width: 100%;
	justify-content: center;
	gap: 10px;
}

/*bottom area individual selection box*/
.footer_sections{
	display:grid;
	grid-auto-columns: 100px;
	grid-auto-rows:minmax(25px,auto);
	justify-items: center;
	align-items: center;
	justify-content: center;
	grid-template-areas:
	"top"
	"bottom";
}

.footer_sections .upper{
	grid-area: top;
}
.footer_sections .pts-time-speaker{
	grid-area: bottom;
	display:grid;
	grid-auto-columns: 50px 50px;
	grid-auto-rows:minmax(25px,auto);
	justify-items: center;
	align-items: center;
	justify-content: center;
	background-color: var(--inlay-color);
	/*color:white;*/
	grid-template-areas:
	"a a"
	"a a"
	"b b"
	"f f"
	"c c"
	"c c"
	"d e";
}


.pts-time-speaker .speaker{
	align-self:center;
	justify-self:center;
	grid-area:a;
}
.pts-time-speaker .speakerB{
	grid-area:a;
}
.pts-time-speaker .points{
	grid-area:b;
	align-self:center;
	justify-self:center;
}

.pts-time-speaker .time{
	grid-area:f;
	align-self:center;
	justify-self:center;
}

.pts-time-speaker .title{
	grid-area:c;
	align-self: center;
	justify-self: center;

}
.pts-time-speaker .button1{
	grid-area:d;
	align-self: end;
}
.pts-time-speaker .button2{
	grid-area:e;
	align-self:end;
}
